body{
    background-color: #4b4f55;
    margin: 0px;
}

.username-up-div
{
    padding-top: 0px;
}

.box-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    border-radius: 30px;
    height: 55%;
    width: 35%;
    font-family: "Roboto Mono";
}

.button-error-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding-top: 18px; 
    padding-bottom: 10px;
}


.signup-error-style
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 0px 0;
    padding-top: 5px;
    font-family: "Roboto Mono";
}

.signup-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 3px 0;
    font-family: "Roboto Mono";
}

a:link, a:visited {
    font-family: "Roboto Mono";
    color: white;
}

input[type=text] {
    width: 23rem;
    height: 1.9rem;
    padding: 0.3rem;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #D9D9D9;
  }
  
input[type=password] {
    width: 23rem;
    height: 1.9rem;
    padding: 0.3rem;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #D9D9D9;
  }

.box-div button{
    width: 12rem;
    height: 2.4rem;
    padding: 0.3rem;
    background-color:#E2B714;;
    transition: 0.4s;
    border: none;
    border-radius: 6px;
    font-family: "Roboto Mono";
    font-size: 0.9rem;
}

.box-div button:hover{
    transform: scale(1.1);
}

.div-container h1{
    font-size: 50px;
    font-family: "Roboto Mono";
}

.error-div{
    display: none;
}

.error-style
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: "Roboto Mono";
    color: #FFFFFF;
    margin: 0px 0;
    padding-bottom: 10px;
    font-weight: bold;
}

.div-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    font-family: "Roboto Mono";
    font-size: 25px;
}

p {
    margin: 0;
    padding: 0;
}
